/*
===================
Fonts
===================
*/
@font-face {
    font-family: "IRANSansWeb";
    src: url("../fonts/IRANSansWeb\(FaNum\).woff2") format("woff2"),
        url("../fonts/IRANSansWeb\(FaNum\).woff") format("woff"),
        url("../fonts/IRANSansWeb\(FaNum\)_Bold.woff") format("woff"),
        url("../fonts/IRANSansWeb_Bold.woff") format("woff"),
        url("../fonts/IRANSansWeb_Light.woff") format("woff");
}

/*
===================
Variables
===================
*/
:root {
    --clr-primary: #1c39bb;
    --clr-black: #14161c;
    --clr-grey-1: #102a42;
    --clr-grey-5: #617d98;
    --clr-gray-3: #c1c2c5;
    --clr-grey-10: #f1f5f8;
    --clr-white: #fff;
    --ff-primary: "IRANSansWeb", sans-serif;
}

/*
===================
Global Styles
===================
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    text-align: right;
    font-size: 1rem;
    transition: all 0.3s;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
}


a {
    text-decoration: none;
}


.flex-row {
    display: flex;
    flex-direction: row;
}


/*
===================
navbar
===================
*/
.navbar-container {
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1216px;
    margin: 0 auto !important;
    height: auto;
    font-family: var(--ff-primary);
}


.logo-a {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: row;
    width: 160PX;
    height: 120PX;
    padding: 48px 8px 8px 8px;
    border-radius: 0 0 8px 8px;
    align-items: center;
    justify-content: flex-start;
    color: inherit;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-white);
    cursor: pointer;
}

.nav-logo img {
    width: 140px;
    height: 64px;
}


.language-dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c39bb;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}


.show {
    display: block;
}



.lang {
    justify-content: center;
    align-items: center;
}

.lang a {
    color: var(--clr-white);
}

.global-img {
    align-items: center;
    justify-content: center;
    color: transparent;
    user-select: none;
}

.global-img img {
    padding-top: 10px;
    filter: brightness(0) invert(1) !important;
    width: 40px;
    height: 40px;
}


.navbar-button {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap
}


.signUP {
    color: var(--clr-primary);
    background-color: var(--clr-white);
    font-family: var(--ff-primary);
    font-size: 16px;
    text-align: center;
    justify-items: center;
    padding: 5px 18px;
    margin-right: 10px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

.login {
    background-color: var(--clr-primary);
    font-family: var(--ff-primary);
    font-size: 16px;
    text-align: center;
    border-color: var(--clr-white);
    border: 1px solid;
    padding: 5px 18px;
    margin-right: 10px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}
/*
===================
about-us
===================
*/

.about-us-container {
    background-color: var(--clr-black);
    height: auto;
}


.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/pattern2.png);
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 1216px;
    margin: 0 auto !important;
    height: auto;
    font-family: var(--ff-primary);
}


.about-us-title{
    display: flex;
    justify-content: center;
    margin:0 auto;
    color: var(--clr-white);
    text-align: center;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.about-us-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    font-size: 20px;
    padding-top: 20px;
    color: #1a68ff;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.about-us-link a{
    color: #808387;
}

.about-us-link img{
    transform: rotate(180deg);
    color: #808387;
    width: 14px;
    height: 14px;
}

.about-us-link span{
    padding-right: 10px;
}








.about-description-container{
    height: auto;
    background-color:rgba(0, 0, 0, 0.850);
    flex-grow: 1;
}


.about-description{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 1216px;
    margin: 0 auto !important;
    height: auto;
    font-family: var(--ff-primary);
    transition: all 2s;
    min-height: 400px;
}

.text-container{
    display: flex;
    flex-direction: column;
    color: #c1c2c5;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


/*
===================
footer
===================
*/
.footer-container {
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1216px;
    margin: 0 auto !important;
    height: auto;
    font-family: var(--ff-primary);
}

.topside-footer {
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-top: 50px;
}


.downside-footer {
    display: flex;
    justify-content:end;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    background-color: var(--clr-white);
    width: auto;
    height: 88px;
    border-radius: 10px 0 0px 10px;
}

.footer-logo img{
    padding: 10px 3px 0 3px;
} 





.footer-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 35%;
}

.footer-description p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    max-width: 388px;
    margin: 10px 0 0;
    color: #c1c2c5;
}

.pages p {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.pages a {
    color: #c1c2c5;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    margin-bottom: 12px;
}


.contactUs {
    display: flex;
    flex-direction: column;
}



.contactUs p {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
}

.social img {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
    margin: 0 5px;

}

.downside-footer p {

    padding-top: 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    max-width: 388px;
    color: #c1c2c5;
}



/*
===================
media
===================
*/


@media only screen and (max-width: 1440px) {
    .nav {
        width: calc(100% - 8vw) !important;
    }

    .about-us {
        width: calc(100% - 8vw) !important;
    }

    .about-description{
        width: calc(100% - 8vw) !important;
    }
    

    .footer {
        width: calc(100% - 8vw) !important;
    }
}



@media screen and (max-width: 1200px) {

    .topside-footer {
        flex-wrap: wrap;
    }

    .footer-description {
        width: 50%;
        margin-bottom: 20px;
    }

    .pages {
        width: 50%;
    }
}



@media only screen and (max-width: 800px) {
    .logo-a {
        width: 95px;
        height: 64px;
        padding: 0 8px;
    }

    .nav-logo img {
        width: 79px;
        height: 36px;
    }

    .about-us{
        background-position: -100px;
    }
}




@media only screen and (max-width: 722px) {
    .pages {
        text-align: center;
    }



}

@media only screen and (max-width: 500px) {

    .about-us{
        background-size: 250px;
        background-position: -110px;
    }

    .topside-footer,
    .downside-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-description,
    .pages,
    .contactUs {
        width: 100% !important;
        align-items: center !important;
        text-align: center;
        margin-top: 30px;

    }

    .footer-logo {
        background-color: transparent;
        width: 200px;
        height: 100px;
        border-radius: 10px 0 0px 10px;
        justify-content: center !important;
    }

    .footer-logo img {
        color: #000 !important;
        filter: brightness(0) invert(1) !important;
        height: 64px;
        width: 100px;
    }

    .footer-description p {
        font-size: 12px;
    }

    .pages p,
    .contactUs p {
        font-size: 21px;
        line-height: 0;

    }

    .pages a {
        font-size: 12px;
    }


    .downside-footer p {
        padding-top: 10px;
    }
}



@media screen and (max-width: 450px) {
    .global-img {
        display: none;
    }

    .signUP {
        padding: 5px 2px !important;
        font-size: 14px;
    }

    .login {
        padding: 5px 2px !important;
        font-size: 14px;
    }

}

@media screen and (max-width:380px) {
    .about-us{
        background-size: cover;
        background-position: -224px;
    } 
}


@media screen and (max-width: 360px) {
    .nav, .footer {
        margin-left: 0;
        margin-right: 0;
    }

    .nav-logo img {
        width: 60px;
        height: auto;
    }



    .footer-logo {
        width: 150px;
        height: auto;
    }
}


@media screen and (max-width:330px) {
    .about-us{
        background-size: cover;
        background-position: -200px;
    } 
}



@media screen and (max-width: 270px) {
    .nav {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 150px) {
    .logo-a{
        overflow-x: hidden;
    }
    .about-us-link {
        flex-wrap: wrap;
    }
}