@font-face {
    font-family: "IRANSansWeb";
    src: url("../fonts/IRANSansWeb\(FaNum\).woff2") format("woff2"),
        url("../fonts/IRANSansWeb\(FaNum\).woff") format("woff"),
        url("../fonts/IRANSansWeb\(FaNum\)_Bold.woff") format("woff"),
        url("../fonts/IRANSansWeb_Bold.woff") format("woff"),
        url("../fonts/IRANSansWeb_Light.woff") format("woff");
}


body{
    display: flex;
    justify-content: center;
    position:relative;
    height: 100vh;
    font-family: "IRANSansWeb";
    color: white;
    background-color: #1d1f24;
    
}

a{
    text-decoration: none;
}


input{
    background:rgb(88, 85, 85);
    border-radius: 5px;
    height: 40px;
    border: none;
    padding: 0 20px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}


.padding{
    padding-left: 20px;
}



.container{
    display: flex;
    flex-direction: column;
    text-align: start;
    box-sizing: border-box;
    background-color: #14161c;
    width: calc(100% - 64px) !important;
    max-width: 800px;
    height: 100%;
    min-height: 100vh;
}

 .box{
    display: flex;
    width: 100%;
    height: auto;
    color:white;
}



.logo {
    direction: rtl;
    background-color: rgb(255, 255, 255);
    width: 8rem;
    height: 3rem;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.logo img{
    width: 6rem;
    height: 3rem;
    padding-right: 10px;
}


.reg a{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.phon{
    justify-content:center;
}

.phon input{
    background: #484848 !important;
    color: white;
}

.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-left: 15px;
    padding-right: 15px;

}

.number p{
    margin-bottom: 0px;
    color: gray;
    padding-bottom: 0px;
}



.areaCode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}


.areaCode p{
    margin-bottom: 0px;
    color: gray;
    text-align:left ;
    flex-direction: column;
}

.plus{
    width: 5%;
    text-align: center;
    justify-content: center;
   padding-top: 51px;
   font-size: 20px;
   justify-content: right;
   padding-right: 10px;
}


.Verification-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #1c39bb;
    margin:30px 20px 0 20px;
    border-radius: 5px;
    border: none;
} 

.Verification-button p{
    color: rgba(255, 255, 255, 0.849);
    font-family: "IRANSansWeb";
    font-weight: 400;
    font-size: 16px;
}

.login{
    justify-content: center;
}

.login a{
    color:#1c39bb;
    font-weight: 400;
    font-size: 16px;
    margin-right: 10px;
    padding-left: 10px;
}





