/*
===================
Fonts
===================
*/
@font-face {
    font-family: "IRANSansWeb";
    src: url("../fonts/IRANSansWeb\(FaNum\).woff2") format("woff2"),
        url("../fonts/IRANSansWeb\(FaNum\).woff") format("woff"),
        url("../fonts/IRANSansWeb\(FaNum\)_Bold.woff") format("woff"),
        url("../fonts/IRANSansWeb_Bold.woff") format("woff"),
        url("../fonts/IRANSansWeb_Light.woff") format("woff");
}

/*
===================
Variables
===================
*/
:root {
    --clr-primary: #1c39bb;
    --clr-black: #14161c;
    --clr-grey-1: #102a42;
    --clr-grey-5: #617d98;
    --clr-gray-3: #c1c2c5;
    --clr-grey-10: #f1f5f8;
    --clr-white: #fff;
    --ff-primary: "IRANSansWeb", sans-serif;
}

/*
===================
Global Styles
===================
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    text-align: right;
    font-size: 1rem;
    transition: all 0.3s;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
}



p {
    color: var(--clr-white);
}



li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.gray {
    font-family: var(--ff-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    opacity: 0.6;
    color: #fff !important;
}

.btn {
    cursor: pointer;
}


.flex-row {
    display: flex;
    flex-direction: row;
}


/*
===================
navbar
===================
*/
.navbar-container {
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1216px;
    margin: 0 auto !important;
    height: auto;
    font-family: var(--ff-primary);
}


.logo-a {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: row;
    width: 160PX;
    height: 120PX;
    padding: 48px 8px 8px 8px;
    border-radius: 0 0 8px 8px;
    align-items: center;
    justify-content: flex-start;
    color: inherit;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-white);
    cursor: pointer;
}

.nav-logo img {
    width: 140px;
    height: 64px;
}


.language-dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c39bb;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
}


.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}


.show {
    display: block;
}



.lang {
    justify-content: center;
    align-items: center;
}


.lang a {
    color: var(--clr-white);
}


.global-img {
    align-items: center;
    justify-content: center;
    color: transparent;
    user-select: none;
}

.global-img img {
    padding-top: 10px;
    filter: brightness(0) invert(1) !important;
    width: 40px;
    height: 40px;
}


.navbar-button {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: flex-end;
}


.signUP {
    color: var(--clr-primary);
    background-color: var(--clr-white);
    font-family: var(--ff-primary);
    font-size: 16px;
    text-align: center;
    justify-items: center;
    padding: 5px 18px;
    margin-right: 10px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

.login {
    background-color: var(--clr-primary);
    font-family: var(--ff-primary);
    font-size: 16px;
    text-align: center;
    border-color: var(--clr-white);
    border: 1px solid;
    padding: 5px 18px;
    margin-right: 10px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

/*
===================
hero
===================
*/

.hero-container {
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary);
    background-image: url(../img/pattern4-high.svg);
    background-size: 73%;
    background-repeat: repeat;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.hero-container-bg {
    width: 100%;
    height: auto;
    background-image: linear-gradient(35deg, transparent 40%, #1c39bb 55%);
    direction: rtl;
}


.hero {
    direction: ltr;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 1216px;
    margin: 0 auto !important;
    height: auto;
    font-family: var(--ff-primary);
    overflow: hidden;
}

.hero-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: auto;
    align-content: center;
    margin-left: 20px;
    padding-bottom: 70px;
    transition: all 3s;
}

.hero-left {
    width: 40%;
    height: auto;
    max-height: 822px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    direction: rtl;
}

.one {
    position: absolute;
    left: -32px;
    right: unset;
    bottom: -1px;
    display: flex;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    direction: rtl;
}

.two {
    width: 350px;
    height: 350px;
    background-image: radial-gradient(ellipse at 100% 0, transparent 0, transparent 350px, #14161c 0);
}

.three {
    width: 350px;
    height: 350px;
    background-image: radial-gradient(ellipse at 100% 0, transparent 350px, transparent 0, #14161c 350px);
    transform: rotate(-90deg);
}

.hero-img {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 560px;
    color: transparent;
    position: absolute;
    left: calc(26% + 63px);
    right: unset;
    bottom: 0;
    top: unset;
    height: auto !important;
    opacity: 1;
    z-index: 2;
    overflow: clip;
}

.hero-title {
    font-size: 38px;
    font-style: normal;
    text-align: right;
    justify-content: flex-start;
    font-weight: 700;
    color: var(--clr-white);
    font-family: var(--ff-primary);
    padding: 50px 20px 0 30px;
}

.space {
    padding: 0 10px;
}


.hidden {
    visibility: hidden;
}

.small {
    font-weight: 400;
    font-size: 32px;
}

.thin {
    font-weight: 100;

}

.heroInfo {
    direction: rtl;
    text-align: right;
    font-family: var(--ff-primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 50px 10px 30px 10px;
}

.heroInfo p {
    color: var(--clr-gray-3);
}


.NEW-animatins {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    direction: ltr;
    width: fit-content;
}

.animation1 {
    animation-name: NEW-animation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    display: inline-block;
}

@keyframes NEW-animation {
    0% {
        opacity: 0;
        transform: translate(0em, -1em);
        animation-timing-function: ease-in-out;
    }

    4.4955% {
        opacity: 1;
        transform: translate(0em, 0em);
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 1;
        transform: translate(0em, 0em);
        animation-timing-function: ease-in-out;
    }
}

/*
===================
about
===================
*/

.about-container {
    background-color: var(--clr-black);
    height: auto;
}


.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1216px;
    margin: 0 auto !important;
    height: auto;
    font-family: var(--ff-primary);
    padding-top: 5rem;
    transition: all 2s;
    padding-top: 80px;
}

.about-title {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: var(--clr-white);
    margin: 30px 0;
}

.about-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 20px;
}

.about-description {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 350px;
    width: auto;
    transition: all 2s;
    margin: 0 1%;
}


.about-img {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}

.about-img img{
    width: 60px;
    height: 60px;
}


.section-title {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 23px;
}

.section-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    max-width: 20rem;
    opacity: 0.6;
    color: var(--clr-grey-5);
}

/*
===================
movie
===================
*/

.movie-container {
    background-color:var(--clr-black);
    width: 100%;
    height: auto;
    font-family: var(--ff-primary);
    padding-top: 20px;
    flex-grow: 1;
    overflow-x: hidden;
}

.movie-background {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image:linear-gradient(transparent, #000) , url(../img/pattern3.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1216px;
    margin: 0 auto !important;
    height: auto;
    font-family: var(--ff-primary);
    padding-bottom: 40px;
}


.movie-title {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: var(--clr-white);
    margin-bottom: 20px;
    padding-top: 60px;
}

.movie-body {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
}

.movie-description {
    justify-content: center;
    width: 50%;
}


.movie-description-title {
    padding: 15px;
}


.movie-description p {
    font-size: 16px;
    font-weight: 400;
}

.video {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


video {
    object-fit: contain;
    width:100% ;
    height:auto ;
    padding: 0;
    margin: 0;
}

.description {
    display: flex;
    box-sizing: border-box;
    padding: 15px;
}

.rotate {
    transform: rotate(180deg);
}

.description p {
    margin-right: 16px;
    margin-left: 16px;
    font-size: 1em;
}

/*
===================
footer
===================
*/

.footer-container {
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    overflow-x: hidden;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1216px;
    margin: 0 auto !important;
    height: auto;
    font-family: var(--ff-primary);
}

.topside-footer {
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-top: 50px;
}


.downside-footer {
    display: flex;
    justify-content:end;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-white);
    width: auto;
    height: 88px;
    border-radius: 10px 0 0px 10px;
}

.footer-logo img{
    padding: 10px 3px 0 3px;
    width: 140px;
    height: 64px;
}

.footer-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
}

.footer-description p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    max-width: 388px;
    margin: 10px 0 0;
    color: #c1c2c5;
}

.pages{
    width: 200px;
}

.pages p {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.pages a {
    color: #c1c2c5;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    margin-bottom: 12px;
}


.contactUs {
    display: flex;
    flex-direction: column;
}


.contactUs p {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
}

.social img {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
    margin: 0 5px;
}

.downside-footer p {
    padding-top: 23px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    max-width: 388px;
    color: #c1c2c5;
}

/*
===================
media
===================
*/


@media only screen and (max-width: 1600px) {
    .hero-title {
        font-size: 43px;
    }
}


@media only screen and (max-width: 1440px) {
    .nav {
        width: calc(100% - 8vw) !important;
    }

    .hero {
        width: calc(100% - 8vw) !important;
    }

    .about {
        width: calc(100% - 8vw) !important;
    }

    .movie {
        width: calc(100% - 8vw) !important;
    }

    .footer {
        width: calc(100% - 8vw) !important;
    }

}



@media only screen and (max-width: 1290px) {
    .hero-title {
        font-size: 40px;
    }
}


@media screen and (max-width: 1270px) {
    .movie-body {
        flex-direction: column-reverse;
        align-items: flex-start;
    }


    .movie-description {
        width: 100%;
        margin-top: 20px;
    }

    .video{
        width: 100%;
    }
}


@media screen and (max-width: 1214px) {
    .hero-title {
        font-size: 35px;
    }
}


@media screen and (max-width: 1200px) {
    .hero-img{
        left: calc(30% + 63px);
    }

    .about-body {
        flex-wrap: nowrap;
        width: 100%;
        justify-content: flex-start;
        overflow-x: auto;
    }

    .about-description {
        flex: 0 0 auto;
        min-width: 325px;
        margin-right: 20px;
    }


    .topside-footer {
        flex-wrap: wrap;
    }

    .footer-description {
        width: 50%;
        margin-bottom: 20px;
    }

    .pages {
        width: 50%;
        text-align: center;
    }
}

@media screen and (max-width: 1110px) {
    .one {
        display: none;
    }

    .hero-container-bg{
        background-image:linear-gradient(180deg, transparent 40% ,  #1c39bb 55% ) ;
    }


    .hero {
        flex-direction: column-reverse;
        align-items: center;
    }

    .hero-img {
        position: relative !important;
        left: 0;
        right: 0;
    }

    .hero-right {
        width: 100%;
    }

    .hero-left {
        width: 100%;
    }

    .hero-title {
        text-align: center;
    }

    .NEW-animatins {
        margin: auto !important;
    }

    .start-now {
        text-align: center;
    }
}


@media screen and (max-width: 1100px) {

    .hero-container-bg {
        background-image: radial-gradient(60% 60%, #1c39bb 46%, transparent 70%);
    }

    .hero-right {
        width: 100%;
    }

    .hero-left {
        display: none;
    }

    .hero-title {
        font-size: 28px;
    }

    .start-now {
        text-align: center;
    }

}


@media only screen and (max-width: 800px) {
    .logo-a {
        width: 95px;
        height: 64px;
        padding: 0 8px;
    }

    .nav-logo img {
        width: 79px;
        height: 36px;
    }
}


@media only screen and (max-width: 722px) {
    .pages {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {

    .topside-footer,
    .downside-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-description,
    .pages,
    .contactUs {
        width: 100% !important;
        align-items: center !important;
        text-align: center;
        margin-top: 30px;

    }

    .footer-logo {
        background-color: transparent;
        width: 200px;
        height: 100px;
        padding-top: 20px;
        border-radius: 10px 0 0px 10px;
    }

    .footer-logo img {
        color: #000 !important;
        filter: brightness(0) invert(1) !important;
        height: 64px;
        width: 100px;
    }

    .footer-description p {
        font-size: 12px;
    }

    .pages p,
    .contactUs p {
        font-size: 21px;
        line-height: 0;

    }

    .pages a {
        font-size: 12px;
    }

    .downside-footer {
        flex-direction: column-reverse;
    }

    .downside-footer p {
        padding-top: 10px;
    }
}



@media screen and (max-width: 490px) {
    .hero-title {
        font-size: 24px;
    }
}



@media screen and (max-width: 450px) {
    .global-img {
        display: none;
    }

    .signUP {
        padding: 5px 2px !important;
        font-size: 14px;
    }

    .login {
        padding: 5px 2px !important;
        font-size: 14px;
    }

    .hero-right {
        width: 100%;
    }
}


@media screen and (max-width: 360px) {
    .nav, .hero, .footer {
        margin-left: 0;
        margin-right: 0;
    }

    .nav-logo img {
        width: 60px;
        height: auto;
    }

    .hero-title {
        font-size: 20px;
    }

    .footer-logo {
        width: 150px;
        height: auto;
    }
}

@media screen and (max-width: 300px) {
    .hero-title {
        font-size: 22px;
    }

    .hero-title-fa {
        width: 100%;
    }

    .NEW-animatins {
        width: 100%;
    }
}




@media screen and (max-width: 270px) {
    .nav {
        flex-wrap: wrap;
    }

    .navbar-container{
            overflow-x: hidden;
    }
}